<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webBoard.webBoard.repository.CommentDAO">
    <select id="getList" resultType="com.webBoard.webBoard.vo.CommentVO">
        select * from comment c where c.boardNum = #{boardNum}
        and c.status = 1;
    </select>
    <select id="getNext" resultType="java.lang.Integer">
        select commentnext from comment c
        where c.boardnum = #{boardNum}
        order by c.commentnum desc
        limit 1
    </select>
    <select id="get" resultType="com.webBoard.webBoard.vo.CommentVO">
        select * from comment c where c.commentnum = #{commentNum}
    </select>
    
    <insert id="insert" parameterType="com.webBoard.webBoard.vo.CommentVO">
        insert into comment
        values(#{commentNum}, #{boardNum}, #{commentNext}, #{memberId},
               #{commentContent}, default, #{commentPwd}, #{anonymous}, default)
    </insert>
    <update id="delete">
        update comment set status = 0 where commentnum = #{commentNum}
    </update>

</mapper>