<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: mainHead">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="def-font">
<!---------- 헤더 ---------->
<div th:replace="header :: mainHeader"/>
<div class="container">
    <h1 style="text-align: center; margin-top: 20px;"> 등록된 공지 사항</h1>
    <a href="/board/noticeWrite" style="width: 120px; margin-bottom: 10px; margin-top: 10px; font-size: 12pt;" class="btn btn-secondary float-right">글 쓰기</a>
    <table style="width: 100%;">
        <tr style="text-align: center; background-color: #eeeeee; border: 1px solid #eeeeee; height: 40px;">
            <th style="width: 10%">번호</th>
            <th style="width: 90%">요약</th>
        </tr>
        <tr style="text-align: center; height: 40px; border: 1px solid #eeeeee;" th:each="board : ${list}">
            <td style="width: 10%"><a th:href="@{/board/view(boardNum=${board.boardNum})}" class="a" th:text="${board.boardNum}"></a></td>
            <td style="width: 90%"><a th:href="@{/board/view(boardNum=${board.boardNum})}" class="a" th:text="${board.boardTitle}"></a></td>
        </tr>
    </table>
</div>

</body>
</html>